#app {
  min-height: 60vh;
}

.settings-button {
  margin: 0.2em;
}

.game-map {
  display: inline-block;
  border: black solid;
}

.cell {
  display: inline-block;
  float: left;

  width: 10px;
  height: 10px;
  background-color: black;

  border: solid rgba(91, 91, 91, 1) 1px;

  &.active {
    background-color: #ff5519;
  }
}