#app {
  min-height: 60vh;
}

.settings-button {
  margin: 0.2em;
}

.cell {
  display: inline-block;
  float: left;

  width: calc(100%/70);
  background-color: black;

  border: solid rgba(91, 91, 91, 0.7) 1px;

  &.active {
    background-color: #ff5519;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}